modules = ["nodejs-20"]
[agent]
expertMode = true

[nix]
channel = "stable-25_05"

[workflows]
runButton = "Project"

[[workflows.workflow]]
name = "Project"
mode = "parallel"
author = "agent"

[[workflows.workflow.tasks]]
task = "workflow.run"
args = "Akodemy App"

[[workflows.workflow]]
name = "Akodemy App"
author = "agent"

[[workflows.workflow.tasks]]
task = "shell.exec"
args = "node start.js"
waitForPort = 5000

[workflows.workflow.metadata]
outputType = "webview"

[[ports]]
localPort = 4000
externalPort = 3000

[[ports]]
localPort = 5000
externalPort = 80

[[ports]]
localPort = 44079
externalPort = 3001

[userenv]

[userenv.shared]
MONGODB_URI = "mongodb+srv://akodemydb:QnJpNja7N4E6FZV2@akodemy.plp8wja.mongodb.net/akodemy?retryWrites=true&w=majority&appName=Akodemy"
JWT_SECRET = "0f52d7d45b18c7055737a2a927ec10f12ebd5361ee8ac5734116e38577221d6a"

[deployment]
deploymentTarget = "autoscale"
run = ["npm", "run", "start:prod"]
build = ["npm", "run", "build:prod"]
